// Media queries
$mobile-sm: "(max-width: 320px)";
$mobile-md: "(max-width: 375px)";
$mobile-lg: "(max-width: 425px)";
$tablet-sm: "(max-width: 597px)";
$tablet: "(max-width: 768px)";
$desktop-sm: "(max-width: 992px)";
$desktop-md: "(max-width: 1096px)"; 
$desktop-lg: "(max-width: 1200px)";

